<footer>
    <div class="footer-container">
        <div class="box-footer">
            <div class="footer-logo">
                <img src="../../assets/barco-icon.png" alt="Nautical Providers">
            </div>
        </div>
    
        <div class="box-footer">
            <a mat-button routerLink="home" color="success">HOME</a>
            <a mat-button routerLink="aboutus" color="success">ABOUT</a>
            <a mat-button routerLink="products" color="success">PRODUCTS</a>
            <a mat-button routerLink="contact" color="success">CONTACT</a>
        </div>
    
        <div class="box-footer">
            <h3>Contact Info</h3>
            <span style="color: #7a7a7a; font-size: 13px;">E: info@gmail.com</span>
            <br>
            <span style="color: #7a7a7a; font-size: 13px;">T: +52 753 357 4221</span>
            <br>
            <span style="color: #7a7a7a; font-size: 13px;">A: Federalismo Sur 567 Centro 44100 Guadalajara México</span>
        </div>
    </div>
    <div class="footer-bottom">
        <hr>
        <p>Copyright © 2021 <strong>Nautical Providers.</strong> Todos los derechos reservados.</p>
    </div>
</footer>