*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

img{
    display: block;
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Fraunces";
}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

#top-header{
  background-color: #35435D;
  width: 100%;
  height: 3.5em;
}

.nav-toolbar{
  background-color: white;
  transition: all 0.3s ease;
  color: #35435D;
  margin: 0;
  padding: 3em 0;
  width: 100%;
}

.spacer{
  flex: 1 1 auto;
}

.toolbarText{
  display: block;
  font-size: 1.5rem;
  padding: 0.5em 1em;
}

.main-title{
  color: #35435D;
}

.icon-menu{
  transform: scale(1.3);
  color: #35435D;
  display: inline-block;
  *align-content: flex-start;
  *background-color: white;
  padding: 5px 0;
}

.sidenav{
  background: #fff;
  width: 100px;
  margin: 0;
  *padding: 10px;
  position: fixed;
}


.sidenav-text{
  color: #35435D;
  text-decoration: none;
}