#top-header{
  background-color: #35435D;
  width: 100%;
  height: 50px;
  display: block;
}
.nav-toolbar{
  background-color: white;
  transition: all 0.3s ease;
  color: #fff;
  margin-right: 0;
  margin-top: 0px;
  margin-bottom: 1px;
  padding: 8px 25px;
  position: relative;
  width: 100%;
  height: 10%;
}

.spacer{
  flex: 1 1 auto;
}

.toolbarText{
  font-size: 30px;
}

.main-title{
  color: #35435D;
}

.icon-menu{
  transform: scale(1.3);
  color: #35435D;
  display: inline-block;
  padding: 5px 0;
}

.sidenav{
  background: #fff;
  width: 200px;
  margin: 0;
  padding: 10px;
}


.sidenav-text{
  color: #35435D;
  text-decoration: none;
}