<section id="aboutus">
    <div class="aboutus-banner-img">
        <div class="aboutus-banner-content">
            <div>
                <h2 class="aboutus-banner-title"></h2>
                <p class="aboutus-banner-text">
                    This stage includes the definition of the organizational culture, philosophy, 
                    policies, values, mission, and vision of the organization.
                </p>
            </div>
        </div>
    </div>

    <div class="main-container">
        <div class="matcard-container">
            <h2 class="matcard-title">ABOUT US</h2>
            <p class="matcard-text">
                The company Nautical Providers, S.A. de C.V. is a company founded with the purpose of offering provisioning, supply, and crew transportation services. 
                Mainly within the Port of Lázaro Cárdenas, in terminals and on docked ships.
            </p>
        </div>
        
        <div class="matcard-container">
            <h2 class="matcard-title">MISSION</h2>
            <p class="matcard-text">
                Provide high-quality materials and services at competitive prices, always seeking the complete satisfaction of our customers.
            </p>
        </div>

        <div class="matcard-container">
            <h2 class="matcard-title">VISION</h2>
            <p class="matcard-text">
                To be a leading company in the supply and supply of materials to all types of vessels that arrive in the Lázaro Cárdenas region. 
                Taking care of the environment and the surroundings of the region, with highly competent personnel with outstanding 
                skills to cover all kinds of challenges presented on a day-to-day basis.
            </p>
        </div>
    </div>
    
    <div class="section-container">
        <div class="section-title">
            <h2>SPECIFIC GOAL</h2>
        </div>
        <div class="section-content">
            <p class="section-text">
                - The purchase, sale, import, and export of fruits, vegetables, cereals, livestock, vehicles, 
                clothing, textiles, electronics, and all kinds of products similar to the above.
            </p>        
        </div>

        <div class="section-content">
            <p class="section-text">
                - The supply and provision of services to ships.
            </p>        
        </div>
        
        <div class="section-content">
            <p class="section-text">
                - Collection, transportation, storage, processing, treatment of non-hazardous waste and hazardous waste; 
                Environmental cleaning in private and government companies, federal freight transportation service in
                the modality of specialized cargo service of residual waste materials, waste, or others.
            </p>
        </div>
    </div>
</section>