*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

img{
    display: block;
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Fraunces";
}

.aboutus-banner-img{
  background: url(../../assets/images/ship1.jpg);
  min-height: 700px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -999;
}

.aboutus-banner-img:before {
    content: "";
    width: 100%;
    min-height: 700px;
    background: rgba(0,0,0,0.3);
    position: absolute;
    top: 0;
    left: 0; 
}

.aboutus-banner-content{
    width: 100%;
    padding: 15px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: white;
    font-size: 1.3em;
}

.aboutus-banner-title, .aboutus-banner-text{
    font-size: 1.5em;
    padding: 10px;
}

.main{
    margin-top: 650px;
}

.main-container{
    overflow: hidden;
}

.matcard-container{
    font-family: 'Open Sans',Helvetica,Arial,Lucida,sans-serif;
    padding: 25px;
    max-width: 600px;
    margin: auto;
    float: left;
}

.matcard-title{
    font-weight: bold;
    text-align: left;
    font-size: 2em;
    position: relative;
    color: #35435D;
    margin-bottom: 30px;
}

.matcard-text{
    font-size: 1.2em;
    text-align: justify;
    color: #202124;
}

.matcard-title::after{
    content: "";
    width: 200px;
    position: absolute;
    bottom: -15px;
    left: 1px;
    height: 5px;
    background: #01cab6;
}

.section-container{
    overflow: hidden;
    background: #033A6E;
    
}

.section-title{
    font-weight: bold;
    font-size: 2em;
    color: #fff;
    text-align: left;
    padding: 25px;
}

.section-content{
    font-family: 'Open Sans',Helvetica,Arial,Lucida,sans-serif;
    padding: 25px;
    max-width: auto;
    margin: auto;
    float: left;
    
}

.section-text{
    font-size: 1.2em;
    color: #fff;
    text-align: justify;
}