<div class="aboutus-banner-img">
    <div class="aboutus-banner-content">
        <p class="aboutus-banner-text">
            This stage includes the definition of the organizational culture, philosophy,
            policies, values, mission, and vision of the organization.
        </p>
    </div>
</div>

<section id="aboutus">
    <div class="about-container">
        <div class="about-img">
            <!-- <img src="../../assets/images/shipment1.jpg" alt="Ship"> -->
        </div>

        <div class="about-box-item">
            <h2 class="about-title">ABOUT US</h2>
            <p class="about-text">
                The company Nautical Providers, S.A. de C.V. is a company founded with the purpose of offering
                provisioning, supply, and crew transportation services.
                Mainly within the Port of Lázaro Cárdenas, in terminals and on docked ships.
            </p>

            <h2 class="about-title">MISSION</h2>
            <p class="about-text">
                Provide high-quality materials and services at competitive prices, always seeking the complete
                satisfaction of our customers.
            </p>

            <h2 class="about-title">VISION</h2>
            <p class="about-text">
                To be a leading company in the supply and supply of materials to all types of vessels that arrive in the
                Lázaro Cárdenas region.
                Taking care of the environment and the surroundings of the region, with highly competent personnel with
                outstanding skills to cover all kinds of challenges presented on a day-to-day basis.
            </p>
        </div>
    </div>

    <div class="goals-main-container">
        <div class="goals-container">
            <div class="goals-box-item">
                <h2 class="goals-title">SPECIFIC GOAL</h2>
                <div class="goals-text">
                    <ul>
                        <li>
                            The purchase, sale, import, and export of fruits, vegetables, cereals, livestock, vehicles,
                            clothing, textiles, electronics, and all kinds of products similar to the above.
                        </li><br>
                        <li>
                            The supply and provision of services to ships
                        </li><br>
                        <li>
                            Collection, transportation, storage, processing, treatment of non-hazardous waste and hazardous waste;
                            Environmental cleaning in private and government companies, federal freight transportation service in
                            the modality of specialized cargo service of residual waste materials, waste, or others.
                        </li>
                    </ul>
                </div>
                
            </div>

            <div class="goals-section-video">
                <iframe title="vimeo-player" src="https://player.vimeo.com/video/11630091" frameborder="0" allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>
</section>