<mat-grid-list cols="2" rowHeight="200px" gutterSize="10px" [style.background]="'skyblue'">
    <mat-grid-tile class="matcard-content">
        <mat-grid-tile-header>INTRODUCTION</mat-grid-tile-header>
        <p>
            The company Nautical Providers, S.A. de C.V. is a company founded with the purpose of offering provisioning, supply, and crew transportation services. 
            Mainly within the Port of Lázaro Cárdenas, in terminals and on docked ships.
        </p>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="matcard-container">
            <mat-card-title>SPECIFIC GOAL</mat-card-title>   
            <mat-card-content class="matcard-content">
                <ol>
                    <li>The purchase, sale, import, and export of fruits, vegetables, cereals, livestock, vehicles, 
                        clothing, textiles, electronics, and all kinds of products similar to the above.
                    </li>
                    <li>
                        The supply and provision of services to ships.
                    </li>
                    <li>
                        Collection, transportation, storage, processing, treatment of non-hazardous waste and hazardous waste; 
                        Environmental cleaning in private and government companies, federal freight transportation service in
                        the modality of specialized cargo service of residual waste materials, waste, or others.
                    </li>
                </ol>
            </mat-card-content>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="matcard-container">
            <mat-card-title>MISSION</mat-card-title>
            <mat-card-content class="matcard-content">
              <p>
                Provide high-quality materials and services at competitive prices, always seeking the complete satisfaction of our customers.
              </p>
            </mat-card-content>
          </mat-card>
    </mat-grid-tile>
</mat-grid-list>