.aboutus-banner-img{
  background: url(../../assets/images/ship1.jpg);
  min-height: 800px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -999;
}

.aboutus-banner-img:before {
    content: "";
    width: 100%;
    min-height: 800px;
    background: rgba(0,0,0,0.3);
    position: absolute;
    top: 0;
    left: 0; 
}

.aboutus-banner-content{
    width: 100%;
    padding: 15px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: white;
    font-size: 1.3em;
}

.aboutus-banner-title, .aboutus-banner-text{
    font-size: 1.5em;
    padding: 10px;
}

.about-container{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    padding: 20px;
    max-width: 1200px;
    margin: 200px auto auto auto;
}

.about-img{
    *position: relative;
    width: 10px;
}

.about-box-item{
    font-family: 'Open Sans',Helvetica,Arial,Lucida,sans-serif;
    display: flex;
    flex-direction: column;
    max-width: 800px;
}

.about-title{
    font-weight: bold;
    text-align: left;
    font-size: 1.2rem;
    position: relative;
    color: #35435D;
    margin-bottom: 20px;
}

.about-title::after{
    content: "";
    width: 50%;
    position: absolute;
    bottom: -10px;
    left: 0;
    *transform: translateX(-50%);
    height: 5px;
    background: #01cab6;
}

.about-text{
    font-size: 1.1rem;
    text-align: justify;
    color: #7a7a7a;
}

.section-container{
    background: rgba(25, 64, 76, 1);
}

.section-container .section-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}

.section-title{
    font-weight: bold;
    font-size: 2em;
    color: #fff;
    text-align: center;
    margin-top: 150px;
    padding: 50px;
}

/* .section-content{
    font-family: 'Open Sans',Helvetica,Arial,Lucida,sans-serif;
    padding: 25px;
    max-width: auto;
    margin: auto;
    float: left;
} */
.section-content{
    font-family: 'Open Sans',Helvetica,Arial,Lucida,sans-serif;
    padding: 20px;
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.section-text{
    font-size: 1.2em;
    color: #fff;
    text-align: justify;
}