<section id="contact" class="contact-section-container" >
    <div class='content'>
      <div class='row'>
        <div class='column'>
          <div class='children-column'>
            <h1>Contact Us</h1>
            <p> We are at your service </p>
            <h2>T: +52 753 357 4221</h2>
            <h2>E: info@gmail.com</h2>
            <h2>A: Federalismo Sur 567 Centro 44100 Guadalajara México</h2>
          </div>
        </div>
        <div class='column'>
          <div class='children-column'>
            <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
              <agm-marker [latitude]="20.703826" [longitude]="-103.331875">
                <agm-info-window>
                  <p style="color: black">{{txtInfoWindow}}</p>
                </agm-info-window>
              </agm-marker>
            </agm-map>
          </div>
        </div>
      </div>
    </div>

    <div id="divForm">
      <h3 > <strong>Contact Information </strong></h3>
      <input type="text" id="fname" name="firstname" placeholder="first name">
    
      <input type="text" id="lname" name="lastname" placeholder=" last name">
    
      <input type="text" id="lemail" name="email" placeholder=" email">
    
      <input type="text" id="phone" name="phone" placeholder=" phone">
    
      <button mat-raised-button color="primary">Send</button>
    </div>  
</section>