
<div >
    <div>
        <h2>
            <strong>INTRODUCTION</strong>
        </h2>
        <p>
            The company Nautical Providers, S.A. de C.V. is a company founded with the purpose of offering provisioning, supply, and crew transportation services. 
            Mainly within the Port of Lázaro Cárdenas, in terminals and on docked ships.
        </p>
    </div>
    
    <div>
        <h2>
            <strong>SPECIFIC GOAL</strong>
        </h2>
        <p>  
            The purpose of the Company will be:
            1. - The purchase, sale, import, and export of fruits, vegetables, cereals, livestock, vehicles, clothing, textiles, electronics, and all kinds of products similar to the above.
            2. - The supply and provision of services to ships.
            3. - Collection, transportation, storage, processing, treatment of non-hazardous waste and hazardous waste; Environmental cleaning in private and government companies, federal freight transportation service in the modality of specialized cargo service of residual waste materials, waste, or others.
        </p>
    </div>

    <div>
        <h2>
            <strong>MISSION</strong>
        </h2>
        <p style="color: #35435D; font-weight: bold">
            Provide high-quality materials and services at competitive prices, always seeking the complete satisfaction of our customers.
        </p>
    </div>
</div>