
<mat-toolbar color ="primary" class="navbar">
    <button mat-button  class="btnStyle2">EZIO PROJECT</button>
    <button mat-button [matMenuTriggerFor]="aboveMenu" class="btnStyle">INICIO</button>
    <mat-menu #aboveMenu="matMenu" yPosition="above">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
    
    <button mat-button [matMenuTriggerFor]="belowMenu" class="btnStyle">MISIÓN</button>
    <mat-menu #belowMenu="matMenu" yPosition="below">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
    
    <button mat-button [matMenuTriggerFor]="beforeMenu" class="btnStyle">VISIÓN</button>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
    
    <button mat-button [matMenuTriggerFor]="afterMenu"class="btnStyle">CONTACTO</button>
    <mat-menu #afterMenu="matMenu" xPosition="after">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
</mat-toolbar>

<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Servicios">
    <mat-list role="list">
      <mat-list-item role="listitem" >Transporte en barco</mat-list-item>
      <mat-list-item role="listitem">Ezio servicio</mat-list-item>
      <mat-list-item role="listitem">Ezio Servicio 2</mat-list-item>
    </mat-list>
  </mat-tab>
  <mat-tab label="Cotización" >Cotización</mat-tab>
  <mat-tab label="Contacto con nosotros" >Registro</mat-tab>
</mat-tab-group>
