.navbar{
    justify-content: space-around;
    color: whitesmoke;
    font-family: 100px;
}

span{
    padding-right: 1rem;
}

.text{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: orange;
}

.textTab{
    font-size: 20px;
    color: teal;
    font-style: normal;
}

.btnStyle{
    background-color: bisque;
    color: black;
}

.btnStyle2{
    background-color:teal;
    color: rgb(247, 241, 241);
    font-size: 20px;
}

.mat-tab-group {
    margin-bottom: 48px;
  }

  .example-card {
    height: 100%;
    width: 100%;
    color: teal;
    background:radial-gradient(200px top, ellipse, white, #1162ac, rgb(99, 159, 248));
    ;
  }
  
  .image {
    background-size: cover;
    width: 100%;
    height: 800px;
  }
  
