<mat-toolbar color = "primary" class="navbar"> 
  <img class="png-icon" src="/assets/barco-icon.png">
  <!-- <div class="projectText"> Ezio Project </div> -->
  <div>
    <button mat-button color="success">
      <mat-icon>home</mat-icon>
      <span class="toolbarText">Home </span>
    </button>

    <button mat-button color="success">
      <mat-icon>directions_boat</mat-icon>
      <span class="toolbarText">About Us</span>
    </button>

    <button mat-button color="success">
      <mat-icon>contact_phone</mat-icon>
      <span class="toolbarText">Contact</span>
    </button>
    
  </div>
</mat-toolbar>