.navbar{
    justify-content: space-around;
    color: whitesmoke;
    font-family: 100px;
}

span{
    padding-right: 1rem;
}

.text{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: orange;
}

.btnStyle{
    background-color: bisque;
    color: black;
}

.btnStyle2{
    background-color:teal;
    color: rgb(247, 241, 241);
    font-size: 20px;
}