<section id="products" class="products-section-container">
    <div class="products-header-container">
        <h2 class="products-header-title">
            Nautical Providers | Your choice, our promise
        </h2>
        <p class="products-header-text">
            We are committed to giving you the best service, the best quality of our products and fastest service.
        </p>
        <hr>
        <!-- <button mat-raised-button color="primary">Request a Quote</button> -->
    </div>x

    <div class="main-container">
        <div class="grid-container">
            <div class="grid-element" style="background-image: url(../../assets/images/products/canned_meat.jpg);">
                <h3 class="product-title">Canned meats</h3>
            </div>
            <div class="grid-element" style="background-image: url(../../assets/images/products/dairy.jpg);">
                <h3 class="product-title">Dairy</h3>
            </div>
            <div class="grid-element" style="background-image: url(../../assets/images/products/natural_juice.jpg);">
                <h3 class="product-title">Natural Juices</h3>
            </div>
            <div class="grid-element" style="background-image: url(../../assets/images/products/seeds.jpg);">
                <h3 class="product-title">Seeds</h3>
            </div>
            <div class="grid-element" style="background-image: url(../../assets/images/products/cereals.jpg);">
                <h3 class="product-title">Cereals</h3>
            </div>
            <div class="grid-element" style="background-image: url(../../assets/images/products/edible_oils.jpg);">
                <h3 class="product-title">Edible Oils</h3>
            </div>
            <div class="grid-element" style="background-image: url(../../assets/images/products/natural_water.jpg);">
                <h3 class="product-title">Natural Water</h3>
            </div>
            <div class="grid-element" style="background-image: url(../../assets/images/products/species.jpg);">
                <h3 class="product-title">Spices</h3>
            </div>
            <div class="grid-element" style="background-image: url(../../assets/images/products/chicken.jpg);">
                <h3 class="product-title">Chicken</h3>
            </div>
            <div class="grid-element" style="background-image: url(../../assets/images/products/fish.jpg);">
                <h3 class="product-title">Fish</h3>
            </div>
            <div class="grid-element" style="background-image: url(../../assets/images/products/red_meat.jpg);">
                <h3 class="product-title">Red Meat</h3>
            </div>
            <div class="grid-element" style="background-image: url(../../assets/images/products/vegetables.jpg);">
                <h3 class="product-title">Vegetables</h3>
            </div>
            <div class="grid-element" style="background-image: url(../../assets/images/products/condiments.jpg);">
                <h3 class="product-title">Condiments</h3>
            </div>
            <div class="grid-element" style="background-image: url(../../assets/images/products/fruits.jpg);">
                <h3 class="product-title">Fruits</h3>
            </div>
            <div class="grid-element" style="background-image: url(../../assets/images/products/sauce.jpg);">
                <h3 class="product-title">Sauces</h3>
            </div>
        </div>
    </div>
</section>